.container {
  position: relative;
  padding: 5em 1em;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
  /* width: 90%; */
}

.table {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 150px;
  background-color: #ccc;
  border: none;
  outline: 2px solid white;
}
